<footer class='second-footer'>
  <%= link_to image_tag("logo.PNG", class:"second-footer-logo"), "/" %>
   <div class='second-footer-text-wrap'>
    <p class='second-footer-text'>プライバシーポリシー</p>
    <p class='second-footer-text'>CheerUP! 利用規約</p>
    <p class='second-footer-text'>特定商取引に関する表記</p>
  </div>
</footer>